<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.everread">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activity.LoginAndLoad.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity.PagerActivity" />
        <activity android:name=".Activity.find.FindActivity" />
        <activity android:name=".Activity.friend.FriendActivity" />
        <activity android:name=".Activity.group.contentOfInfo.ActicityGroupActivity$GroupActivity" />
        <activity android:name=".Activity.plan.PlanActivity" />
        <activity android:name=".Activity.book.BookClassActivity" />
        <activity android:name=".Activity.book.InfoBookActivity" />
        <activity android:name=".Activity.plan.ChangePlanActivity"/>
        <activity android:name=".Activity.plan.EditPlanActivity"/>
        <activity android:name=".Activity.friend.BookOfFriendActivity"/>
        <activity android:name=".Activity.friend.FriendInfoActivity"/>
        <activity android:name=".Activity.friend.FriendTalkActivity"/>
        <activity android:name=".Activity.friend.NoteOfFriendActivity"/>
        <activity android:name=".Activity.friend.PlanOfActivity"/>
        <activity android:name=".Activity.group.contentOfInfo.ActicityGroupActivity"/>
        <activity android:name=".Activity.group.GroupTalkActivity"/>
        <activity android:name=".Activity.group.GroupInfoActivity"/>
        <activity android:name=".Activity.group.contentOfInfo.MemberGroupActivity"/>
        <activity android:name=".Activity.group.contentOfInfo.NewsGroupActivity"/>

    </application>

</manifest>